body {
    height: auto;
    width: 100%;
    background: #FAFAFA 0% 0% no-repeat padding-box;
    opacity: 1;
}

.container {
    height: 720px;
    width: 1560px;
    border: 0px;
    padding: 0px;
    display: flex;
}

.left {
    float: left;
    margin-left: 166px;
    margin-top: 72px;

}

.right {
    width: 818px;
    height: 576px;
    float: right;

}

#hero {
    height: 576px;
    width: 576px;
    border-radius: 50%;
    background: transparent url('img/Ellipse 2.png') 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 31px #0000000A;
    border: 20px solid #FFFFFF;
    opacity: 1;
    float: left;
}

#logo {
    height: 58px;
    width: 272px;
    margin-top: 106px;
    margin-right: 382px;
    margin-left: 164px;
}

.pr{
    height: 100px;
    width: 500px;
    text-align: left;
    letter-spacing: 0;
    font: normal normal 300 40px/47px Roboto;
    margin-left: 164px;
    margin-top: 0px;
    color: #3E3E3E;
    opacity: 1;

}

#expert {
    color: #C8242F;

}

#login {
    width: 260px;
    height: 33px;
    margin-left: 154px;
    text-align: left;
    font: normal normal normal 25px/33px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
    opacity: 1;
}

#username {
    height: 49px;
    width: 429px;
    margin-left: 154px;
    padding-left: 15px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #ADADAD;
    border-radius: 5px;
    opacity: 1;

}

#password {
    height: 49px;
    width: 429px;
    margin-top: 27px;
    padding-left: 15px;
    margin-left: 154px;
    margin-right: 225px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #ADADAD;
    border-radius: 5px;
    opacity: 1;

}

#button {
    height: 45px;
    width: 138px;
    margin-top: 30px;
    margin-left: 164px;
    background: #C8242F 0% 0% no-repeat padding-box;
    border-radius: 23px;
    opacity: 1;
    border: none;
}

#content {
    margin-left: 154px;
    height: 20px;
    text-align: left;
    font: normal normal normal 15px/20px Roboto;
    letter-spacing: 0px;
    color: #ADADAD;
    opacity: 1;
    margin-top: 23px;
}

#red {

    color: #C8242F;
}

button {
    margin-top: 10px;
    margin-bottom: 11px;
    margin-left: 46px;
    width: 45px;
    height: 24px;
    text-align: center;
    font: normal normal medium 18px/24px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}


#fp {
    margin-left: 170px;
    margin-top: 42px;
}

.btn{
    display:inline-flex;
}

@media screen and (max-width: 360px)
{
    .container{
        flex-direction: column;
        margin-top: 3rem;
        width: 100%;
        height: auto;
        
    }
    
    .left {
        
        margin-left: 150%;
        margin-top: 5px;    
    }

    .right {
       margin-left: 100%;
       width: 60%;
    
    }

    #hero {
        height: 320px;
        width: 320px;
        margin-left: 0px;
        border-radius: 50%;
        background: transparent url('img/Ellipse 2.png') 0% 0% no-repeat padding-box;
        box-shadow: 0px 4px 31px #0000000A;
        border: 5px solid #FFFFFF;
        opacity: 1;
        float: left;
    }

    .right {
        margin-left: -100% ;
        /* width: 50%; */
        height: auto;
        float: right;
    
    }
    #password {
        
        margin-left: 154px;
        margin-right: 0%;
        
           }

   .btn{
    display: inline-block;

   }

   #fp{
    
    margin-top: 19%;
   }
/* 
   #button{
        
   } */
  
   

}

